<div class="flash-notice">
  <%= flash[:notice] %>
</div>

<p>
  title:
  <span>
    <%= @book.title %>
  </span>
</p>

<p>
  body:
  <span>
    <%= @book.body %>
  </span>
</p>

<%= link_to "Edit", edit_book_path(@book.id) %>
<a href='/books'>Back</a>
